:root {
    --primary: #2c3333;
    --secondary:#395B64;
    --tertiary:#A5C9CA;
    --fortiary:#E7F6F2;
    --fifth: #D3DEDC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cormorant SC', serif;
    background-color: var(--fifth);
}
.row{
    padding-top: 0;
    padding-bottom: 0px;
    
}
/* -----------------------------header */
.header {
    background-color:var(--tertiary);
    width: 100%;
    height: 10%;
    background-position: absolute;
    padding: 30px;
}

.header h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--fortiary);
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: var(--fortiary);
}
.main {

    background-color: var(--fifth);
}
.search {
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    padding: 20px 0 5px 40px;
    font-size: 20px;
}
/* --------------------------------input section */
.inputs {
    position: relative;
    left: 0;
    top: 10px;
    text-align: center;
    display: flex;
    justify-content: left;
    width: 20%;
    padding-left: 40px;
    height: 5px;

}
#cityinput{
    padding-top: 2px;
    position: relative;
    top: 50px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    color: var(--secondary);
} 

.inputs input[type="text"] {
    height: 2.5rem;
    width: 30rem;
    background: transparent;
    font-weight: bold;
    border: none;
    background-color: transparent;
    border: solid 1px var(--primary);
    color: var(--secondary);
    border-radius: 2px;
    margin-right:4px ;
    padding: 4rem 0 1rem 0;
    position: relative;
 
}
.inputs input[type="submit"] {
    height: 40px;
    width: 60px;
    background: var(--secondary);
    color:var(--tertiary);
    font-size: 16px;
    border: none;
    border-radius: 3%;
    padding: 10px 115px 10px 70px;
    position: relative;
    top: 100px;
    right: 235px;
}
hr {
    border-bottom: #395B64 solid 2px;
    position: relative;
    top: 175px;
    left: 22px;
    width: 17%;
}
/* -------------------------------display */
.display {
    text-align: center;
    color: var(--fifth);
    font-size: 2rem;
}
.wrapper {
    width: 50%;
    background-color: var(--tertiary);
    height: 300px;
    margin: 10px auto;
    border-radius: 2px;
    position: relative;
    right: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.wrapper h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    text-align: center;
}

  .wrapper p{
    text-align: center;
    margin:10px 0;
    font-size:20px;
  }
  
.container1 {
    background-color: var(--tertiary);
    position: relative;
    left: 470px;
    height: 225px;
    width: 200px;
}
.daysForecast h2{
    color: var(--secondary);
    position: relative;
    left: 470px;
    bottom: 7px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.storage1{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 275px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.storage2{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 315px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.storage3{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 355px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.storage4{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 395px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.storage5{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 435px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.storage6{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 475px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.storage7{
    background-color: var(--tertiary);
    position: absolute;
    left: 30px;
    top: 515px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}